@import url("https://use.fontawesome.com/releases/v5.2.0/css/all.css");
@import url("https://unpkg.com/leaflet@1.3.4/dist/leaflet.css");
@import url("https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css");
.clndr {
  border: 1px solid #D4D4D5;
  border-radius: 5px;
}

.clndr-controls {
  font-weight: bold;
  justify-content: space-between;
  width: 100%;
  display: flex;
  padding: 1em;
  background-color: #fcd51b;
  border-radius: 3px 3px 0 0;
}

.clndr-controls > * {
  display: inline-block;
  padding: 0 1em;
  font-size: 1.2em;
}

.clndr-previous-button, .clndr-next-button {
  font-size: 1.5em;
}

.clndr-previous-button:hover, .clndr-next-button:hover {
  cursor: pointer;
}

.clndr-table {
  display: block;
  text-align: center;
  padding: 1em;
  margin-top: -1em;
}

.clndr-table thead, .clndr-table tbody {
  display: block;
  width: 100%;
}

.header-days, .clndr-table tbody tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: .5em;
}

.header-day, .day {
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
}

.day-contents {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid black;
}

.adjacent-month {
  opacity: .3;
}

.today .day-contents {
  border-color: green;
  color: green;
}

.event .day-contents {
  border-color: red;
  color: red;
}

.event .day-contents:hover {
  cursor: pointer;
}

.clndr-details {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: relative;
  border: 1px solid #D4D4D5;
  border-radius: 5px;
}

#clndr-day {
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 1em;
  line-height: 1.2em;
  font-size: 1.2em;
  background-color: #fcd51b;
  border-radius: 3px 3px 0 0;
  height: 3.1em;
}

.content-wrapper {
  display: flex;
  flex: 1;
  min-height: 0;
}

.overflow-container {
  flex: 1;
  overflow: auto;
}

#clndr-day-details {
  padding: .5em 1em;
}

#clndr-day-details .header, #clndr-day-details .meta {
  display: flex;
  justify-content: space-between;
}

.jconfirm.jconfirm-my-theme .jconfirm-bg {
  background-color: rgba(55, 37, 15, 0.8);
}

.jconfirm.jconfirm-my-theme .jconfirm-box {
  width: 500px;
  padding: 70px 20px 20px;
  position: relative;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-title-c {
  position: absolute;
  padding: 0 20px;
  font-weight: bold;
  top: 0;
  left: 0;
  background-color: #fcd51b;
  height: 50px;
  display: block;
  line-height: 50px;
  width: 100%;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-content-pane {
  padding: 0;
  margin: 0;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  height: 40px;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button {
  margin: 0;
  position: absolute;
  height: 40px;
  bottom: 0;
  padding: 0 20px;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button:last-child {
  right: 0;
  background-color: #AA454A;
  color: white;
}

.jconfirm.jconfirm-my-theme .jconfirm-box .jconfirm-buttons button:first-child {
  left: 0;
  background-color: #fcd51b;
  color: black;
}

.popup-time {
  margin-left: 20px;
}

.popup-price {
  display: block;
  padding: 10px 0;
}

/*# sourceMappingURL=app.css.map */
