/* Colors */
$color-white: #fff;
$color-light-blue: #AAEEFF;
$color-yellow: #FDE995;
$color-nav-top: #373A3C;
$color-grey: #d3d3d3;

/* Margin & Padding */
$padding-sections: 70px;

/* CSS */
section {
  margin: 0;
  padding: $padding-sections 0;
}
section.bkg-white {
  background-color: $color-white;
}

section.bkg-blue {
  background-color: $color-light-blue;
}

section.bkg-yellow {
  background-color: $color-yellow;
}

div.review {
  background-color: white;
}
