/* Colors */
$color-white: #fff;
$color-light-blue: #AAEEFF;
$color-yellow: #FDE995;
$color-nav-top: #373A3C;
$color-grey: #d3d3d3;

/* Margin & Padding */
$padding-sections: 70px;

/* CSS */
section {
  margin: 0;
  padding: $padding-sections 0;
}

section h2 {
  margin-bottom: 20px;
}

section.bkg-white {
  background-color: $color-white;
}

section.bkg-blue {
  background-color: $color-light-blue;
}

section.bkg-yellow {
  background-color: $color-yellow;
}

div.review {
  background-color: $color-white;
}

/* Custom Calendar */
.clndr {
  display: inline-block;
  background-color: #fff;
  padding: 10px;
  border: 2px solid $color-grey;
  border-radius: 10px;
}

div.clndr-control-button, div.month {
  display: inline-block;
  font-size: 1.8em;
}

span.clndr-control-button:before {
  content: "&lt;";
}

div.clndr-control-button {
  margin: 20px;
}

td.header-day, td.day {
  display: inline-block;
  width: 49px;
  height: 49px;
  margin: 5px;
  padding: 11px 0;
  text-align: center;
}

td.day {
  border: 2px solid $color-grey;
  border-radius: 4px;
}

td.today {
  background-color: $color-light-blue;
}

td.past {
  opacity: 0.6;
}