.event-card {
  max-width: 100%;
  min-width: 100%;
}
.content {
  padding: 1rem;
}

.shorten {
  overflow: hidden;
  text-overflow: ellipsis;
}

.hide.about {
  display: none;
  text-align: center;
}
.ui.celled.table.mail-template th {
  background-color: $color-primary;
}
img.full-width-image {
  display: block !important;
  width: 100% !important;
}

$img-row-height: 9em;

.image-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: $img-row-height;

  img {
    display: block;
    height: $img-row-height;
    border-radius: 5px;
  }
}