
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$color-primary: #fcd51b;
$color-accent: #fcd51b;

$color-bg-popup: rgba(55, 37, 15, 0.8);

$color-background-light: #f5f5f5;
$color-text: #000;
$color-shadow: rgba(0,0,0,0.16);
$color-background: #fff;
$color-calender-background: #f4f2e8;
$color-hover: #e8c01d;

$col-beauty: #C7F8D2;
$col-beauty-text: black;
$col-relaxation: #ABEEFF;
$col-relaxation-text: black;
$col-divination: #F3DFEE;
$col-divination-text: black;