.event-button-beauty {
  background-color: $col-beauty !important;
}
.event-button-relaxation {
  background-color: $col-relaxation !important;
}
.event-button-divination {
  background-color: $col-divination !important;
}