#app section#events div.container {
  position: relative;
  overflow: hidden;
}
#events container {
  padding-bottom: 0px;
}
.events {
  margin: -20px -20px -20px -20px;
  display: block;
  width: calc(100% + 40px);
  height: calc(100% + 20px);
}
.cal1 {
  float: left;
  width: 50%;
  height: 420px;
  display: inline-block;
  overflow: hidden;
  margin-bottom: -20px;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid $color-shadow;
}
.clndr-table {
  width: 100%;
  text-align: center;
  font-size: 1.15em;
  height: 300px;
  padding: 20px;
  background-color: white;
}
.clndr-controls {
  text-align: center;
  position: relative;
  background-color: $color-accent;
  line-height: 50px;
  font-size: 1.2em;
  border-bottom: 1px solid $color-shadow;
}
.clndr-controls .clndr-control-button {
  position: absolute;
  left: 30px;
}
.clndr-control-button:hover {
  cursor: pointer;
}
.clndr-controls .clndr-control-button:last-child {
  position: absolute;
  left: auto;
  right: 30px;
}
.clndr-controls div {
  display: inline-block;
}
.day {
  width: 14%;
  line-height: 16%;
  padding-top: 12px;
}
.adjacent-month {
  opacity: 0.4;
}
.day-contents {
  padding: 10px 8px 6px;
  line-height: 100%;
  height: 1.15em;
  width: 1.15em;
  border-radius: 50%;
  margin: 0 auto;
}
.header-days td{
  padding-bottom: 10px;
}
.today .day-contents {
  border: 1px solid #292363;
}
.event .day-contents {
  border: 1px solid #961a1c;
}
.event:hover * {
  cursor: pointer;
}
.selected .day-contents {
  background-color: #f3f3f3;
}
.event.selected .day-contents {
  background-color: #961a1c;
}
/* Calendar Details */
.details {
  width: calc(50% - 41px);
  height: 419px;
  display: inline-block;
  background-color: $color-background;
  padding: 0 20px;
  overflow-y: scroll;
  margin-bottom: -4px;
  position: relative;
}
#day {
  line-height: 50px;
  font-size: 1.2em;
  background-color: $color-accent;
  height: 50px;
  display: block;
  position: sticky;
  border-bottom: 1px solid $color-shadow;
  width: calc(100% + 40px);
  text-align: center;
  left: -20px;
  margin-left: -20px;
  top: 0;
  z-index: 5;
}
.selected-event {
  margin-top: 20px;
  position: relative;
}
.selected-event:last-of-type {
  margin-bottom: 30px;
}
.selected-event button[name="event-button"] {
  display: block;
  width: 100%;
  height: 40px;
  border: none;
  background-color: $color-accent;
  font-size: 1.05em;
}
#event-time {
  font-size: 1.15em;
  display: inline-block;
  margin-right: 20px;
  width: 45px;
}
#event-title {
  font-size: 1.15em;
}
#event-description {
  margin-left: 70px;
  margin-top: 20px;
}
.selected-event {
  border: 1px solid $color-shadow;
  border-radius: 5px;
  padding: 60px 20px 60px 20px;
  position: relative;
}
.event-time {
  position: absolute;
  left: 0px;
  width: 50%;
  display: block;
  top: 0;
  line-height: 40px;
  background-color: $color-accent;
  padding-left: 20px;
  font-size: 1.05em;
}
.event-title {
  position: absolute;
  width: 70%;
  display: block;
  text-align: left;
  top: 0;
  right: 0px;
  line-height: 40px;
  background-color: $color-accent;
  padding-right: 20px;
  font-weight: bold;
  font-size: 1.05em;
}
.events form {
  height: 0;
}
// Beauty
.selected-event.event-type.beauty span.event-time {
  background-color: $col-beauty;
  color: $col-beauty-text;
  border-radius: 5px 0 0 0;
}
.selected-event.event-type.beauty span.event-title {
  background-color: $col-beauty;
  color: $col-beauty-text;
  border-radius: 0 5px 0 0;
}
.selected-event.event-type.beauty button {
  background-color: $col-beauty;
  color: $col-beauty-text;
  border-radius: 0 0 5px 5px;
}
// Relaxation
.selected-event.event-type.relaxation span.event-time {
  background-color: $col-relaxation;
  color: $col-relaxation-text;
  border-radius: 5px 0 0 0;
}
.selected-event.event-type.relaxation span.event-title {
  background-color: $col-relaxation;
  color: $col-relaxation-text;
  border-radius: 0 5px 0 0;
}
.selected-event.event-type.relaxation button {
  background-color: $col-relaxation;
  color: $col-relaxation-text;
  border-radius: 0 0 5px 5px;
}
// Divination
.selected-event.event-type.divination span.event-time {
  background-color: $col-divination;
  color: $col-divination-text;
  border-radius: 5px 0 0 0;
}
.selected-event.event-type.divination span.event-title {
  background-color: $col-divination;
  color: $col-divination-text;
  border-radius: 0 5px 0 0;
}
.selected-event.event-type.divination button {
  background-color: $col-divination;
  color: $col-divination-text;
  border-radius: 0 0 5px 5px;
}