.floating.action.button {
  display: block;
  position: fixed;
  bottom: 1em;
  left: 1em;

  .fab.icon {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    background-color: #fcd51b;
    box-shadow: 0 0 2px grey;
    text-decoration: none;
    opacity: .6;
    transition: .1s all ease-in-out;

    i.fas {
      padding: 35%;
      height: 30px;
      color: black;
    }
  }

  .fab.icon:hover {
    background-color: #ffde41;
    opacity: 1;
  }
}