#nav-top {
  margin-top: 0;
  border-radius: 0;
  background-color: #fcd51b;

  .item {
    min-height: 4em;
    padding: .5em;
  }

  .item:first-child {
    padding: calc(1em + 2px);
  }

  img {
    border-radius: 50%;
    border: 1px solid darkgray;
    height: 3.5em;
    width: 3.5em;
    margin: -.5em 0;
  }

  img:first-child {
    border-radius: 0;
    border: none;
    margin: calc(-1em - 2px) calc(-1em - 1px) calc(-1em - 2px) calc(-1em - 2px) ;
    width: 4.5em;
    height: 4.5em;
  }
}

#nav-side {
  background-color: #fcd51b;

  .item {
    font-size: 18px;
  }
}

.navbar-link {
  font-size: 22px;
  margin-right: 1em;
}

.navbar-link:last-child {
  margin-right: 0;
}