// TODO Opmaak -> Border images groter (dikte van footer lijn) + Kleur border (footer lijn)
// TODO Opmaak -> Logo dikker / Groter
.navbar-link {
  font-size: 24px;
  margin-right: 1em;
}
.navbar-link:last-child {
  margin-right: 0;
}
#nav-top {
  border-radius: 0;
  background-color: #fcd51b;
}
#nav-side {
  background-color: #fcd51b;
}
#nav-top .item {
  min-height: 4em;
}
#nav-top img {
  border-radius: 50%;
  border: 1px solid darkgray;
  height: 3.5em;
  width: 3.5em;
  margin: -.5em 0;
}
#nav-top img:first-child {
  border-radius: 0;
  border: none;
  margin: calc(-1em - 2px) calc(-1em - 1px) calc(-1em - 2px) calc(-1em - 2px) ;
  width: 4.5em;
  height: 4.5em;
}